html, body, #root, .App {
  background-color: #002366;
  color: #002366;
  height: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
  color: antiquewhite;
}

.App{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.team{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.participant-info {
  background-color: antiquewhite;
  height: 100%;
  width: 18%;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name {
  font-size: 1.5rem;
  font-weight: 1000;
  color: black;
}

.job {
  font-size: 1.25rem;
  font-weight: 600;
}
